.navigation{
    background-color: #b8bebf;
    font-family: 'Times New Roman', Times, serif;
}
.sidebars{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 50px;
    width: 50px;
}

.main {
    display: flex;
    justify-content: center;
}